* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    text-align: center;
}

.drawScreens {
    display: flex;
    justify-content: center;
}

.drawScreens div {
    width: 80px;
    height: 160px;
    margin: 10px;
    border: 1px solid gray;
}

.userInterface input {
    height: 30px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.userInterface button {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 10px;
    transform: rotate(0);
    transition: 0.4s
}

button.rotate {
    transform: rotate(360deg)
}


.scoreBoard .result {
    font-weight: 700;
}